<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>Check login info</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>self.kiwi.web.Register</servlet-class>
  </servlet>
  <servlet>
    <description>Check login info</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>Event</servlet-name>
    <servlet-class>self.kiwi.web.Event</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Event</servlet-name>
    <url-pattern>/servlet/Event</url-pattern>
  </servlet-mapping>

</web-app>